<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  
  <ol class="carousel-indicators">
    <% @teams.each_with_index do |team, i| %>
      <li data-target="#carousel-example-generic" data-slide-to="<%= 'i' %>" class="<%= "active" if i==0 %>"></li>
    <% end %>
  </ol>

  <div class="carousel-inner" role="listbox">
    <% @teams.each_with_index do |team, i| %>
      <div class="item <%= "active" if i==0 %>">
        <%= image_tag team.twitter_banner %>
        <div class="carousel-caption">
          <%= team.name %>
        </div>
      </div>
    <% end %>
  </div>

  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">

    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="sr-only">Next</span>
  </a>
</div>






