<%= @team.description %>

<h3>Official Tweets <%= @team.name %></h3>
<% @tweets.each do |tweet| %>
  <%= tweet.user.screen_name %> <br>
  <%= tweet.text %> <br>
<% end %>
<div class='container' id='tweet-container' data-team="<%= @team.channel %>">

</div>

