<div class="col-sm-12">
  <div class="jumbotron">
    <style media="screen">
    .jumbotron { background-image: url(<%= @team.twitter_banner %>); }
    </style>
    <div class="text-center">
      <h2><%= image_tag @team.img %> <br> <%= @team.description %> </h2>
      <h3 class='lead'>Official  <%= link_to "Instagram", "http://instagram.com/#{@team.instagram_name}" %> <%= @team.name %></h3>
      <h3 class='lead'>Official <%= link_to "Twitter", "https://twitter.com/#{@team.twitter}" %> <%= @team.name %> </h3>
      <div class="btn-group" role="group">
        <button id="toggle-twitter" type="button" class="btn btn-default"><i class="fa fa-twitter"></i> Live Twitter <span>0</span></button>
        <button id="toggle-official-twitter" type="button" class="btn btn-default"><i class="fa fa-twitter"></i> Official Twitter <span>0</span></button>
        <button id="toggle-instagram" type="button" class="btn btn-default"><i class="fa fa-instagram"></i> Instagram <span>0</span></button>
      </div>
    </div>
  </div>
</div>

<%= render "instagram" %>
<%= render "twitter" %>
