<%= @team.description %>

<!-- <h3>Streem tweets</h3> -->
<!-- <div class='container' id='tweet-container' data-team="<%#= @team.channel %>"></div> -->

<h3>Official Tweets <%= @team.name %></h3>
<% @tweets.each do |tweet| %>
  <%= image_tag tweet.user.profile_image_url %> <br>
  <%= tweet.user.screen_name %> <br>
  <%= tweet.text %> <br>
<% end %>