<div class="col-sm-12">
  <div class="jumbotron">
    <style media="screen">
      .jumbotron { background-image: url(<%= @banner %>); }
    </style>
    <div class="text-center">
      <h2><%= image_tag @team.img %> <br> <%= @team.description %> </h2>
      <h3 class='lead'>Official  <%= link_to "Instagram", "http://instagram.com/#{@team.instagram_name}" %> <%= @team.name %></h3>
      <h3 class='lead'>Official <%= link_to "Twitter", "https://twitter.com/#{@team.twitter}" %> <%= @team.name %> </h3>
      <div class="btn-group" role="group">
        <button id="toggle-twitter" type="button" class="btn btn-default"><i class="fa fa-twitter"></i> Live Twitter <span>0</span></button>
        <button id="toggle-official-twitter" type="button" class="btn btn-default"><i class="fa fa-twitter"></i> Official Twitter <span>0</span></button>
        <button id="toggle-instagram" type="button" class="btn btn-default"><i class="fa fa-instagram"></i> Instagram <span>0</span></button>
      </div>
    </div>
  </div>
</div>

<div id="instagram" class="col-sm-12">
  <% if @team.name != "EVERTON" %>
    <% @imgs.each do |img| %>
    <div class="thumbnail">
      <%= image_tag img[:url], class: "img img-responsive " %>
      <div class="caption">
        <p>likes: <%= img[:likes] %></p>
        <p>comments: <%= img[:comments] %></p>
      </div>
    </div>
    <% end %>
 <% end %>
</div>
<div id="twitter" class="col-sm-12">
  <ul class="media-list">
    <% @tweets.each do |tweet| %>
    <li class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag tweet.user.profile_image_url, class: "media-object" %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to "#{tweet.user.screen_name}", "https://twitter.com/#{tweet.user.screen_name}" %></h4>
        <p class="team-timeline-tweets"> <%= tweet.text %></p>
        <% if !tweet.try(:media).empty? %>
          <%= image_tag tweet.media[0].media_url %>
        <% end %>
                <!-- <h1>AUTO LINK</h1> -->
        <%#= Twitter::Autolink.auto_link("link @#{@team.twitter}, please #{@team.channel}") %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
