<div class="text-center">
  <h2><%= image_tag @team.img %> <br> <%= @team.description %> </h2>
</div>

<h3 class='lead text-right'>Official  <%= link_to "Instagram", "http://instagram.com/#{@team.instagram_name}" %> <%= @team.name %></h3>
<% @imgs.each do |img| %>
  <%= image_tag img[:url] %> <br>
  likes: <%= img[:likes] %>
  comments: <%= img[:comments] %>
  <br>
<% end %>

<h3 class='lead text-left'>Official <%= link_to "Twitter", "https://twitter.com/#{@team.twitter}" %> <%= @team.name %> </h3>
<% @tweets.each do |tweet| %>
  <%= image_tag tweet.user.profile_image_url %> <br>
  <%= tweet.user.screen_name  %> <br>
  <%= tweet.text %> <br>
<% end %>

