<div class="col-sm-12">
  <div class="jumbotron">
    <style media="screen">
    .jumbotron { background-image: url(<%= @team.twitter_banner %>); }
    </style>
    <div class="text-center">
      <h2><%= image_tag @team.img %> <br> <%= @team.description %> </h2>
      <h3 class='lead'>Official  <%= link_to "Instagram", "http://instagram.com/#{@team.instagram_name}" %> <%= @team.name %></h3>
      <h3 class='lead'>Official <%= link_to "Twitter", "https://twitter.com/#{@team.twitter}" %> <%= @team.name %> </h3>
      <div class="btn-group" role="group">
 
        <button id="toggle-official-twitter" type="button" class="btn btn-default"> Twitter </button>
        <button id="toggle-official-instagram" type="button" class="btn btn-default"> Instagram </button>
        <% if current_user.present? %>
          <button id="toggle-twitter" type="button" class="btn btn-default"> Live Twitter <span>0</span></button> 
          <%#= button_to "New Tweet", new_tweet_path,  id: "toggle-twitter", class: "btn btn-default", method: :get %>
        <% end %>
 
      </div>
    </div>
  </div>
</div>

<% if current_user.present? %>
  <div id="send-tweet" class="col-sm-12">
    <%= render "/tweets/form" %>
  </div>
<% end %>
<%= render "twitter" %>
<%= render "instagram" %>


