<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message, value: "@#{@team.twitter}", :size => "50x5", maxlength: 140  %>
    <%= f.hidden_field :team_id, value: "#{@team.id}"  %>
  </div>
  <div class="actions">
    <%= f.submit "Tweet" %>
  </div>
<% end %>
