<!DOCTYPE html>
<html>
<head>
  <title>FootballFansApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'http://localhost:9292/faye/faye.js'%>
  <%= csrf_meta_tags %>
</head>
<body>
  

<%= yield %>

<h3>Streem tweets</h3>
<div class='container' id='tweet-container'></div>
</body>
</html>
