<!DOCTYPE html>
<html>
<head>
  <title>FootballFansApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'http://localhost:9292/faye/faye.js'%>
  <%= csrf_meta_tags %>
</head>
<body data-channel="<%= @team.try(:twitter) || 'premierleague' %>">
  <div class="navbar navbar-default navbar-static-top navbar-fixed-top">
    <div class='container'>

          <%= link_to root_path, class: 'navbar-brand' do %>
            Football for Fans <%= image_tag ('BPL-Barclays-Premier-League-Logo.png') %>
          <% end %>
         
          <ul class='nav navbar-nav navbar-right'>
            <li><a href="#">About</a></li>
            <li><a href="#">Scheme</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <div class='row'>
      <div class='col-sm-3 hidden-xs'>
        <div class='' id='tweet-container'></div>
      </div>
      <div class='col-sm-6 col-xs-12'>
        <%= yield %>
      </div>
      <div class='col-sm-3 hidden-xs'>
        <h3>Instagram</h3>
      </div>
    </div>

</body>
</html>
